In [1]:
import nest_asyncio
nest_asyncio.apply()
from ib_insync import *
ib = IB()
ib.connect('127.0.0.1', 7497, clientId=1)

In [7]:
contract = Future('ES', '202306', 'CME')

In [8]:
# Define the future contract with more details
contract = Future(
    symbol='ES',
    lastTradeDateOrContractMonth='202406',
    exchange='CME',  
)

# Check if the contract can be resolved
contract_details = ib.reqContractDetails(contract)

In [10]:
from datetime import date
import pandas as pd
final_df = pd.DataFrame()
min_date = date.today()
end_date = ''
counter  = 1
while min_date>date(2022,3,17):
    print(f"Downloading 1 month {counter} time")
    historical_data = ib.reqHistoricalData(
        contract, endDateTime=min_date, durationStr='2 Y',
        barSizeSetting='1 day', whatToShow='MIDPOINT', useRTH=True)
    df = util.df(historical_data)
    end_date = df['date'].max()
    min_date = df['date'].min()
    print(min_date)
    final_df = pd.concat([final_df, df], axis = 0)
    counter+=1

Downloading 1 month 1 time
2023-03-17
Downloading 1 month 2 time
2023-03-17
Downloading 1 month 3 time
2023-03-17
Downloading 1 month 4 time
2023-03-17
Downloading 1 month 5 time
2023-03-17
Downloading 1 month 6 time
2023-03-17
Downloading 1 month 7 time
2023-03-17
Downloading 1 month 8 time
2023-03-17
Downloading 1 month 9 time

KeyboardInterrupt:

In [12]:
final_df['date'].min()

datetime.date(2023, 3, 17)

In [13]:
final_df = final_df.drop_duplicates(subset = ['date'])

In [14]:
final_df = final_df.sort_values(by = ['date']).reset_index(drop = True)
final_df

           date     open     high      low    close  volume  average  barCount
0    2023-03-17  4109.00  4539.25  4063.50  4077.50    -1.0     -1.0        -1
1    2023-03-20  4077.25  4110.50  4071.25  4108.00    -1.0     -1.0        -1
2    2023-03-21  4142.25  4164.25  4130.25  4164.25    -1.0     -1.0        -1
3    2023-03-22  4165.75  4578.00  4098.25  4102.25    -1.0     -1.0        -1
4    2023-03-23  4126.00  4168.00  4075.25  4110.50    -1.0     -1.0        -1
..          ...      ...      ...      ...      ...     ...      ...       ...
273  2024-04-22  5030.50  5077.00  5006.00  5049.25    -1.0     -1.0        -1
274  2024-04-23  5069.50  5113.75  5063.75  5112.25    -1.0     -1.0        -1
275  2024-04-24  5116.75  5124.75  5072.25  5079.50    -1.0     -1.0        -1
276  2024-04-25  5039.75  5132.75  5022.25  5132.00    -1.0     -1.0        -1
277  2024-04-26  5111.00  5146.50  5104.25  5131.75    -1.0     -1.0        -1

[278 rows x 8 columns]

In [9]:
final_df[:50]

,date,open,high,low,close,volume,average,barCount
0,2023-03-17 08:30:00-05:00,4109.00,4115.25,4105.00,4115.25,-1.0,-1.0,-1
1,2023-03-17 08:40:00-05:00,4115.25,4119.25,4103.00,4103.25,-1.0,-1.0,-1
2,2023-03-17 08:50:00-05:00,4103.25,4539.25,4103.00,4539.25,-1.0,-1.0,-1
3,2023-03-17 09:00:00-05:00,4114.75,4118.75,4106.50,4106.75,-1.0,-1.0,-1
4,2023-03-17 09:10:00-05:00,4106.75,4106.75,4098.50,4098.75,-1.0,-1.0,-1
5,2023-03-17 09:20:00-05:00,4098.75,4098.75,4082.50,4086.75,-1.0,-1.0,-1
6,2023-03-17 09:30:00-05:00,4086.75,4090.75,4078.00,4082.00,-1.0,-1.0,-1
7,2023-03-17 09:40:00-05:00,4082.00,4082.00,4073.75,4078.00,-1.0,-1.0,-1
8,2023-03-17 09:50:00-05:00,4078.00,4082.00,4073.75,4082.00,-1.0,-1.0,-1
9,2023-03-17 10:00:00-05:00,4082.00,4082.00,4071.75,4078.00,-1.0,-1.0,-1
10,2023-03-17 10:10:00-05:00,4078.00,4086.00,4077.75,4082.00,-1.0,-1.0,-1
11,2023-03-17 10:20:00-05:00,4082.00,4082.00,4069.75,4070.00,-1.0,-1.0,-1
12,2023-03-17 10:30:00-05:00,4070.00,4078.00,4069.75,4070.00,-1.0,-1.0,-1
13,2023-03-17 10:40:00-05:00,4070.00,4070.00,4063.75,4070.00,-1.0,-1.0,-1
14,2023-03-17 10:50:00-05:00,4070.00,4074.00,4069.75,4070.00,-1.0,-1.0,-1
15,2023-03-17 11:00:00-05:00,4070.00,4081.75,4069.75,4081.75,-1.0,-1.0,-1
16,2023-03-17 11:10:00-05:00,4081.75,4081.75,4077.75,4077.75,-1.0,-1.0,-1
17,2023-03-17 11:20:00-05:00,4077.75,4081.75,4075.75,4081.75,-1.0,-1.0,-1
18,2023-03-17 11:30:00-05:00,4081.75,4093.75,4081.75,4083.75,-1.0,-1.0,-1
19,2023-03-17 11:40:00-05:00,4083.75,4083.75,4081.50,4081.75,-1.0,-1.0,-1
20,2023-03-17 11:50:00-05:00,4081.75,4083.75,4077.50,4081.75,-1.0,-1.0,-1
21,2023-03-17 12:00:00-05:00,4081.75,4085.75,4079.50,4085.75,-1.0,-1.0,-1
22,2023-03-17 12:10:00-05:00,4085.75,4087.75,4083.50,4083.75,-1.0,-1.0,-1
23,2023-03-17 12:20:00-05:00,4083.75,4091.75,4083.50,4085.75,-1.0,-1.0,-1
24,2023-03-17 12:30:00-05:00,4085.75,4089.75,4081.50,4083.75,-1.0,-1.0,-1
25,2023-03-17 12:40:00-05:00,4083.75,4085.75,4081.50,4085.75,-1.0,-1.0,-1
26,2023-03-17 12:50:00-05:00,4085.75,4085.75,4081.50,4085.75,-1.0,-1.0,-1
27,2023-03-17 13:00:00-05:00,4085.75,4089.75,4079.50,4079.75,-1.0,-1.0,-1
28,2023-03-17 13:10:00-05:00,4079.75,4079.75,4073.50,4075.75,-1.0,-1.0,-1
29,2023-03-17 13:20:00-05:00,4075.75,4075.75,4067.50,4067.75,-1.0,-1.0,-1
30,2023-03-17 13:30:00-05:00,4067.75,4069.75,4067.50,4067.75,-1.0,-1.0,-1
31,2023-03-17 13:40:00-05:00,4067.75,4069.75,4067.50,4067.75,-1.0,-1.0,-1
32,2023-03-17 13:50:00-05:00,4067.75,4074.00,4063.50,4072.00,-1.0,-1.0,-1
33,2023-03-17 14:00:00-05:00,4072.00,4072.00,4069.50,4071.50,-1.0,-1.0,-1
34,2023-03-17 14:10:00-05:00,4071.50,4081.50,4071.50,4079.50,-1.0,-1.0,-1
35,2023-03-17 14:20:00-05:00,4079.50,4083.50,4077.50,4083.50,-1.0,-1.0,-1
36,2023-03-17 14:30:00-05:00,4083.50,4083.50,4073.25,4075.50,-1.0,-1.0,-1
37,2023-03-17 14:40:00-05:00,4075.50,4079.50,4071.25,4071.50,-1.0,-1.0,-1
38,2023-03-17 14:50:00-05:00,4071.50,4079.50,4071.25,4075.50,-1.0,-1.0,-1
39,2023-03-17 15:00:00-05:00,4075.50,4083.50,4075.25,4083.50,-1.0,-1.0,-1
40,2023-03-17 15:10:00-05:00,4083.50,4083.50,4079.25,4079.50,-1.0,-1.0,-1
41,2023-03-17 15:20:00-05:00,4079.50,4079.50,4079.25,4079.50,-1.0,-1.0,-1
42,2023-03-17 15:30:00-05:00,4079.50,4079.50,4079.25,4079.50,-1.0,-1.0,-1
43,2023-03-17 15:40:00-05:00,4079.50,4079.50,4079.25,4079.50,-1.0,-1.0,-1
44,2023-03-17 15:50:00-05:00,4079.50,4079.50,4077.25,4077.50,-1.0,-1.0,-1
45,2023-03-20 08:30:00-05:00,4077.25,4089.25,4071.25,4079.50,-1.0,-1.0,-1
46,2023-03-20 08:40:00-05:00,4079.50,4083.50,4071.25,4083.50,-1.0,-1.0,-1
47,2023-03-20 08:50:00-05:00,4083.50,4089.50,4082.75,4087.00,-1.0,-1.0,-1
48,2023-03-20 09:00:00-05:00,4087.00,4095.00,4084.75,4087.00,-1.0,-1.0,-1
49,2023-03-20 09:10:00-05:00,4087.00,4091.25,4081.00,4081.25,-1.0,-1.0,-1

In [12]:
final_df.to_csv("10mins_data.csv", index = False)

In [10]:
final_df.shape

(12373, 8)

In [26]:
newsProviders = ib.reqNewsProviders()
print(newsProviders)
codes = '+'.join(np.code for np in newsProviders)

amd = Stock('AAPL', 'SMART', 'USD')
ib.qualifyContracts(amd)
headlines = ib.reqHistoricalNews(amd.conId, codes, '', '', 1000)

[NewsProvider(code='BRFG', name='Briefing.com General Market Columns'), NewsProvider(code='BRFUPDN', name='Briefing.com Analyst Actions'), NewsProvider(code='DJNL', name='Dow Jones Newsletters')]

reqHistoricalNewsAsync: Timeout

In [27]:
headlines

In [28]:
codes

'BRFG+BRFUPDN+DJNL'

In [32]:
import yfinance as yf

In [30]:
pip install yfinance

Collecting yfinance
  Downloading yfinance-0.2.38-py2.py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: pandas>=1.3.0 in c:\users\saite\anaconda3\lib\site-packages (from yfinance) (2.0.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\saite\anaconda3\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in c:\users\saite\anaconda3\lib\site-packages (from yfinance) (2.31.0)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading multitasking-0.0.11-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: lxml>=4.9.1 in c:\users\saite\anaconda3\lib\site-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\saite\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in c:\users\saite\anaconda3\lib\site-packages (from yfinance) (2023.3.post1)
Collecting frozendict>=2.3.4 (from yfinance)
  Downloading frozendict-2.4.2.tar.gz (315 kB)
     ---------------------------------------- 0.0/315.3 kB ? eta -:--:--
     --- ----------------------------------- 30.7/315.3 kB 1.3 MB/s eta 0:00:01
     -------------------- ----------------- 174.1/315.3 kB 2.1 MB/s eta 0:00:01
     -------------------------------------- 315.3/315.3 kB 2.8 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Installing backend dependencies: started
  Installing backend dependencies: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Collecting peewee>=3.16.2 (from yfinance)
  Downloading peewee-3.17.3.tar.gz (3.0 MB)
     ---------------------------------------- 0.0/3.0 MB ? eta -:--:--
     ------ --------------------------------- 0.5/3.0 MB 15.2 MB/s eta 0:00:01
     ------------- -------------------------- 1.0/3.0 MB 15.8 MB/s eta 0:00:01
     ------------------------ --------------- 1.8/3.0 MB 14.2 MB/s eta 0:00:01
     ---------------------------------------  2.9/3.0 MB 17.1 MB/s eta 0:00:01
     ---------------------------------------- 3.0/3.0 MB 14.5 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\saite\anaconda3\lib\site-packages (from yfinance) (4.12.2)
Collecting html5lib>=1.1 (from yfinance)
  Downloading html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: soupsieve>1.2 in c:\users\saite\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: six>=1.9 in c:\users\saite\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\saite\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\saite\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\saite\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\saite\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\saite\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\saite\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\saite\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2024.2.2)
Downloading yfinance-0.2.38-py2.py3-none-any.whl (72 kB)
   ---------------------------------------- 0.0/73.0 kB ? eta -:--:--
   ---------------------------------------- 73.0/73.0 kB ? eta 0:00:00
Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
   ---------------------------------------- 0.0/112.2 kB ? eta -:--:--
   ---------------------------------------- 112.2/112.2 kB 6.4 MB/s eta 0:00:00
Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Building wheels for collected packages: frozendict, peewee
  Building wheel for frozendict (pyproject.toml): started
  Building wheel for frozendict (pyproject.toml): finished with status 'done'
  Created wheel for frozendict: filename=frozendict-2.4.2-cp311-cp311-win_amd64.whl size=15543 sha256=117225eb781cc2a5da4fef045af52cb4034d0cc7f5a0ef01effe9fe1c922d3e6
  Stored in directory: c:\users\saite\appdata\local\pip\cache\wheels\b6\d6\b5\da9ad65b3c11d2d2f3245b0b2476231dc58a2a91768c5ec755
  Building wheel for peewee (pyproject.toml): started
  Building wheel for peewee (pyproject.toml): finished with status 'done'
  Created wheel for peewee: filename=peewee-3.17.3-py3-none-any.whl size=138453 sha256=5d253bae2a568b198fc5d644963e5d50038d9fd865da0bab7a435c7c544a3109
  Stored in directory: c:\users\saite\appdata\local\pip\cache\wheels\3e\3d\30\a54ad8c2307aa653f234a6f651ab12fbc5cfbb3f383145ab6a
Successfully built frozendict peewee
Installing collected packages: peewee, multitasking, html5lib, frozendict, yfinance
Successfully installed frozendict-2.4.2 html5lib-1.1 multitasking-0.0.11 peewee-3.17.3 yfinance-0.2.38
Note: you may need to restart the kernel to use updated packages.

DEPRECATION: Loading egg at c:\users\saite\anaconda3\lib\site-packages\luxai2021-0.1.0-py3.11.egg is deprecated. pip 24.3 will enforce this behaviour change. A possible replacement is to use pip for package installation.. Discussion can be found at https://github.com/pypa/pip/issues/12330

In [48]:
data = yf.download("ES=F", period="730d", interval = "60m")

[*********************100%%**********************]  1 of 1 completed

In [52]:
data = data.reset_index()

In [53]:
data[data['Datetime']>='2024-01-01']

,Datetime,Open,High,Low,Close,Adj Close,Volume
11926,2024-01-02 00:00:00,4820.75,4823.50,4820.75,4822.25,4822.25,4575
11927,2024-01-02 01:00:00,4822.50,4822.50,4819.75,4820.00,4820.00,4434
11928,2024-01-02 02:00:00,4820.25,4824.00,4820.25,4822.25,4822.25,7001
11929,2024-01-02 03:00:00,4822.50,4827.75,4822.25,4826.50,4826.50,16770
11930,2024-01-02 04:00:00,4826.75,4826.75,4815.00,4816.50,4816.50,16693
...,...,...,...,...,...,...,...
13773,2024-04-26 12:00:00,5134.00,5143.25,5129.25,5143.25,5143.25,98685
13774,2024-04-26 13:00:00,5143.25,5146.50,5138.50,5141.75,5141.75,104327
13775,2024-04-26 14:00:00,5141.75,5142.50,5133.25,5141.50,5141.50,94654
13776,2024-04-26 15:00:00,5141.25,5144.00,5128.75,5129.50,5129.50,181727
13777,2024-04-26 16:00:00,5129.75,5132.25,5128.75,5131.75,5131.75,49121

In [55]:
data

,Datetime,Open,High,Low,Close,Adj Close,Volume
0,2021-12-02 00:00:00,4534.50,4539.00,4531.50,4537.50,4537.50,0
1,2021-12-02 01:00:00,4537.50,4549.00,4533.00,4547.75,4547.75,13314
2,2021-12-02 02:00:00,4547.50,4552.00,4531.50,4536.50,4536.50,25623
3,2021-12-02 03:00:00,4536.50,4540.75,4524.50,4536.50,4536.50,34609
4,2021-12-02 04:00:00,4536.25,4549.75,4533.75,4542.75,4542.75,24214
...,...,...,...,...,...,...,...
13773,2024-04-26 12:00:00,5134.00,5143.25,5129.25,5143.25,5143.25,98685
13774,2024-04-26 13:00:00,5143.25,5146.50,5138.50,5141.75,5141.75,104327
13775,2024-04-26 14:00:00,5141.75,5142.50,5133.25,5141.50,5141.50,94654
13776,2024-04-26 15:00:00,5141.25,5144.00,5128.75,5129.50,5129.50,181727
13777,2024-04-26 16:00:00,5129.75,5132.25,5128.75,5131.75,5131.75,49121

In [58]:
data[2401:]

,Datetime,Open,High,Low,Close,Adj Close,Volume
2401,2022-05-03 19:00:00,4173.50,4179.75,4172.75,4176.25,4176.25,3691
2402,2022-05-03 20:00:00,4176.00,4179.00,4174.00,4175.50,4175.50,4340
2403,2022-05-03 21:00:00,4175.75,4183.50,4175.25,4181.25,4181.25,5675
2404,2022-05-03 22:00:00,4181.50,4184.00,4172.25,4172.75,4172.75,5616
2405,2022-05-03 23:00:00,4172.50,4176.25,4169.75,4171.50,4171.50,3528
...,...,...,...,...,...,...,...
13773,2024-04-26 12:00:00,5134.00,5143.25,5129.25,5143.25,5143.25,98685
13774,2024-04-26 13:00:00,5143.25,5146.50,5138.50,5141.75,5141.75,104327
13775,2024-04-26 14:00:00,5141.75,5142.50,5133.25,5141.50,5141.50,94654
13776,2024-04-26 15:00:00,5141.25,5144.00,5128.75,5129.50,5129.50,181727
13777,2024-04-26 16:00:00,5129.75,5132.25,5128.75,5131.75,5131.75,49121

In [60]:
random_sample = data[2401:].sample(n=2000, random_state=42)

In [61]:
random_sample

,Datetime,Open,High,Low,Close,Adj Close,Volume
2652,2022-05-18 15:00:00,3920.00,3930.50,3908.00,3923.75,3923.75,441451
5540,2022-11-16 08:00:00,4001.00,4002.75,3982.75,3985.00,3985.00,53955
4476,2022-09-12 23:00:00,4115.75,4117.50,4113.00,4113.50,4113.50,2656
6716,2023-02-02 19:00:00,4165.25,4171.00,4164.75,4169.50,4169.50,9307
8823,2023-06-15 07:00:00,4357.75,4360.50,4355.50,4359.25,4359.25,6998
...,...,...,...,...,...,...,...
13232,2024-03-25 00:00:00,5289.50,5289.75,5287.75,5288.75,5288.75,2236
8786,2023-06-13 16:00:00,4371.25,4375.25,4368.75,4372.50,4372.50,23965
5396,2022-11-08 02:00:00,3813.00,3813.50,3805.75,3807.50,3807.50,9532
3512,2022-07-14 04:00:00,3777.50,3782.75,3755.25,3759.00,3759.00,30527
13608,2024-04-17 08:00:00,5107.00,5112.75,5101.50,5110.50,5110.50,35844

In [62]:
data['Random'] = data.index.isin(random_sample.index)

In [64]:
data['Random'].value_counts()

Random
False    11778
True      2000
Name: count, dtype: int64

In [67]:
data['Chronological'] = data['Datetime'].apply(lambda x: True if x>=datetime.datetime(2024,1,1) else False)

In [69]:
data['Chronological'].value_counts()

Chronological
False    11926
True      1852
Name: count, dtype: int64

In [71]:
data.to_csv("60mins_data.csv", index = False)

In [72]:
data

,Datetime,Open,High,Low,Close,Adj Close,Volume,Random,Chronological
0,2021-12-02 00:00:00,4534.50,4539.00,4531.50,4537.50,4537.50,0,False,False
1,2021-12-02 01:00:00,4537.50,4549.00,4533.00,4547.75,4547.75,13314,False,False
2,2021-12-02 02:00:00,4547.50,4552.00,4531.50,4536.50,4536.50,25623,False,False
3,2021-12-02 03:00:00,4536.50,4540.75,4524.50,4536.50,4536.50,34609,False,False
4,2021-12-02 04:00:00,4536.25,4549.75,4533.75,4542.75,4542.75,24214,False,False
...,...,...,...,...,...,...,...,...,...
13773,2024-04-26 12:00:00,5134.00,5143.25,5129.25,5143.25,5143.25,98685,False,True
13774,2024-04-26 13:00:00,5143.25,5146.50,5138.50,5141.75,5141.75,104327,False,True
13775,2024-04-26 14:00:00,5141.75,5142.50,5133.25,5141.50,5141.50,94654,False,True
13776,2024-04-26 15:00:00,5141.25,5144.00,5128.75,5129.50,5129.50,181727,True,True
13777,2024-04-26 16:00:00,5129.75,5132.25,5128.75,5131.75,5131.75,49121,True,True